[Unit]
Description=Chainpoint Core service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=$HOME/go/bin/chainpoint-core -config $HOME/.chainpoint/core/core.conf

[Install]
WantedBy=multi-user.target